

section {
  width: 100%;
  min-height: 100vh;
  font-family: Arial, sans-serif;
}

/* Hero Section */
.backgroundcontact {
  height: 70vh;
  background: linear-gradient(rgba(0, 0, 0, 0.45),rgba(0, 0, 0, 0.45)),url("./assets/contact.png");
  background-size: cover;
  background-position: center;
  color: white;
}

/* Navbar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 80px;
}

.logo a {
  text-decoration: none;
  color: white;
  font-size: 28px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 35px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.nav-links a:hover {
  color: #d4e157;
}

.social-icons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.social-icons a,
.bag-icons {
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.hero-contact {
  height: calc(70vh - 90px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.hero-contact p {
  font-size: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.hero-contact h1 {
  font-size: 80px;
  font-weight: 500;
  color: white;
}

/* Contact Container */
.contact-container {
  max-width: 1100px;
  margin: 10px auto;
  padding: 0 20px;
}

.contact-container h2 {
  margin-top: 10%;
  font-size: 35px;
  margin-right: 40%;
  padding-bottom: 5%;
  
}

/* Contact Items */
.contact-container{
    width:90%;
    max-width:1100px;
    margin:70px auto;
}

.contact-container h2{
    text-align:center;
    font-size:40px;
    margin-bottom:10px;
    margin-right: 10%;
}

.phone,
.email,
.location{
    display:flex;
    align-items:center;
    gap:25px;
    background:#fff;
    padding:25px;
    margin-bottom:25px;
    border-radius:15px;
    box-shadow:0 10px 25px rgba(0,0,0,.08);
    transition:.3s;
}

.phone:hover,
.email:hover,
.location:hover{
    transform:translateY(-5px);
}

.phoneicon,
.mailicon,
.locationicon{
    width:65px;
    height:65px;
    border-radius:50%;
    background:#4caf50;
    color:#fff;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:26px;
}

.phone h4,
.email h4,
.location h4{
    margin-bottom:8px;
    font-size:20px;
}

.phone p,
.email p,
.location p{
    color:#666;
}

.follow
{
    text-align:center;
    padding:70px 20px;
}
.follow a
{
    color:black;

}
.follow div
{
    display: flex;
    gap: 1%;
    margin-left: 45%;
}
.social-icons1 {
  display: flex;
  align-items: center;
  gap: 20px;
}

.social-icons1 a
{
    color:black;
}
.find {
  width: 100%;
  min-height: 50px; 
  

  background: linear-gradient(rgba(0, 0, 0, 0.45),rgba(0, 0, 0, 0.45)),url("./assets/plant.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
}

.ready {
  text-align: center;
  color: white;
  padding: 20px;
}

.ready h2 {
  font-size: 60px;
  margin-bottom: 20px;
  color: white;
}

.ready p {
  font-size: 22px;
  margin-bottom: 25px;
  line-height: 1.6;
}

.ready button {
  padding: 18px 40px;
  border: 1px solid white;
  border-radius: 40px;
  background: transparent;
  color: white;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
}

